<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Clasificación de {{ "División de Honor" if division == "honor" else "Primera División" }}</title>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.3/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-QWTKZyjpPEjISv5WaRU9OFeRpok6YctnYmDr5pNlyT2bRjXh0JMhjY6hW+ALEwIH" crossorigin="anonymous">
    <link rel="stylesheet" href="static/style.css">
</head>
<body>
    <nav class="navbar navbar-expand-lg bg-primary " data-bs-theme="dark">
        <div class="container-fluid">
          <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarTogglerDemo03" aria-controls="navbarTogglerDemo03" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
          </button>
          <a class="navbar-brand" href="#">{{ "División de Honor" if division == "honor" else "Primera División" }}</a>
          <div class="collapse navbar-collapse" id="navbarTogglerDemo03">
            <ul class="navbar-nav me-auto mb-2 mb-lg-0">
              <li class="nav-item">
                <a class="nav-link" aria-current="page" href="index.html">Home</a>
              </li>
              <li class="nav-item">
                <a class="nav-link {{ "active" if division == "honor" else ""}}" href="honor_standings.html">Honor</a>
              </li>
              <li class="nav-item">
                <a class="nav-link {{ "active" if division == "primera" else ""}}" href="primera_standings.html">Primera</a>
              </li>
          </div>
        </div>
      </nav>

    <div class="container-fluid px-0 px-mb-3 table-responsive-sm">
        <div class="table-container">
        <table class="table-custom short-mode">
            <thead>
                <tr>
                    <th class="sticky-col"></th>
                    <th>Equipo</th>
                    <th data-tooltip="Partidos Jugados">PJ</th>
                    <th data-tooltip="Partidos Ganados">PG</th>
                    <th data-tooltip="Partidos Perdidos">PP</th>
                    <th class="hidden" data-tooltip="Juegos a Favor">JF</th>
                    <th class="hidden" data-tooltip="Juegos en Contra">JC</th>
                    <th class="hidden" data-tooltip="Tantos a Favor">TF</th>
                    <th class="hidden" data-tooltip="Tantos en Contra"">TC</th>
                    <th class="hidden" data-tooltip="Diferencia de tantos">Dif</th>
                    <th class="sticky-right">Puntos</th>
                </tr>
            </thead>
            <tbody >
                {% for team in teams %}
                <tr class="{{ team.descent_class }}">
                    <td class="sticky-col"><div class="team-info"> {{ team.position }} <img src="{{ team.badge_path }}" alt="Escudo {{ team.name }}" width="30"></div></td>
                    <td>{{ team.name }}</td>
                    <td>{{ team.pj }}</td>
                    <td>{{ team.pg }}</td>
                    <td>{{ team.pp }}</td>
                    <td class="hidden">{{ team.jf }}</td>
                    <td class="hidden">{{ team.jc }}</td>
                    <td class="hidden">{{ team.tf }}</td>
                    <td class="hidden">{{ team.tc }}</td>
                    <td class="hidden">{{ team.diff }}</td>
                    <td class="sticky-right">{{ team.points }}</td>
                </tr>
                {% endfor %}
            </tbody>
        </table>
        </div>
    </div>    
    <div class="toggle-container">
        <button type="button" class="btn btn-primary" id="toggleView">Ver Detalles</button>
    </div>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.3/dist/js/bootstrap.bundle.min.js" integrity="sha384-YvpcrYf0tY3lHB60NNkmXc5s9fDVZLESaAA55NDzOxhy9GkcIdslK1eN7N6jIeHz" crossorigin="anonymous"></script>
    <script src="static/script.js"></script>
</body>
</html>